:root {
    --primary: #45A29E;
}

.btn {
    box-sizing: border-box;
    position: absolute;
    cursor: pointer;
    border-radius: 20px;
    font-size: 30px;
}

.btn--red {
    background: #DE2C2C;
    border: 1px solid #DE2C2C;
    color: #FFFFFF;
    
}
.btn--white {
    background: #FFFFFF;
    border: 1px solid #DE2C2C;
    color: #DE2C2C;
}
.person {
    box-sizing: border-box;
    position: absolute;
    width: 187px;
    height: 201px;
    left: 270px;
    top: 218px;
    border-radius: 20px;
}
.organisation {
    box-sizing: border-box;
  position: absolute;
  width: 187px;
  height: 201px;
  left: 486px;
  top: 218px;
}